@import "tailwindcss";

@theme inline {
  --font-fira-code: var(--font-fira-code);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --spacing-8xl: 1580px;
}

.bg-home {
  background-image: url("/bg-home.png");
  background-size: cover;
  background-position: center;
}

.bg-grid {
  background-image: url("/bg-registration.png");
  background-position: center;
}
